In [11]:
#TOPIC: String Based Assignment Problem
#1.Write a program to reverse a string
a=input("Enter a string to reverse")[::-1]
print(a)

Enter a string to reverse shakti

itkahs

In [13]:
#2 check if string is palindrome
b = input("enter the string to check if it is a palindrome") #input string
r_b= b[::-1] #reversed input string
if b == r_b: # if input  == reverserd string
    print("String is Palindrome.") #if true 
else:
    print("String is not a palindrome.")

enter the string to check if it is a palindrome lil

String is Palindrome.

In [14]:
#3 Convert a string to uppercase.
c=input("Enter a string to transform into UPPERCASE")
c1=c.upper()
print('STRING IN UPPERCASE:',c1)

Enter a string to transform into UPPERCASE shakti

STRING IN UPPERCASE: SHAKTI

In [15]:
#4.Convert a string to lowercase
d=input("Enter a string to transform into lowercase")
d1=d.lower()
print('string in lowercase:',d1)

Enter a string to transform into lowercase SHATI RAJBHAR

string in lowercase: shati rajbhar

In [16]:
#5.Count the number of vowels in a string.
s1 = input('Enter the string :') #user input of string(data type is by default string)
count = 0 #initial counter zero
s1 = s1.lower() #to check conditions in lowercase only
for i in s1: 
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
        count+=1
if count == 0:
    print('No vowels found')
else:
    print('Total vowels are :' + str(count))

Enter the string : gvgvgvgvgctykbuguyg

Total vowels are :2

In [76]:
#6.Count the number of consonants in a string.
consonants=0
v=0
user_input = input("Enter a string: ")
string = user_input.lower() # convert string in case insensitive
for x in string:
    if x == 'a' or x == 'e' or x == 'i' or x == 'o' or x == 'u'or x==' ':
        v=v+1
    else:
        consonants=consonants+1;
if consonants==0:
    print("No consonant found");
else:
    print("The number of consonant:",consonants);

Enter a string:  aieou

No consonant found

In [10]:
#7. Remove all whitespaces from a string.
s5=input("enter a string that includes white space")
s6=s5.strip()
print(s6)

enter a string that includes white space sss ss sss sss s

sss ss sss sss s

In [2]:
#8 Find the length of a string without using the `len()` function.
s7 = input("enter a string")
count = 0
for char in s7:  
    count += 1
print("The length of the string is", count)

enter a string shakti

The length of the string is 6

In [ ]:
#9. Check if a string contains a specific word.
s8=input("input a string")
spc_wrd=input("enter a specfic word to search in the string")
if spc_wrd in s8:
    print("the string contains the word:",spc_wrd)
else:
    print("the string does not contains the word:",spc_wrd)

In [1]:
#10. Replace a word in a string with another word.
s9=input("input a string")
replace_wrd = input("enter a word to be replaced")
new_wrd = input("enter new word")
s10 = s9.replace(replace_wrd, new_wrd)
print("Modified string:", s10)

input a string shakti rajbhar
enter a word to be replaced rajbhar
enter new word verma

Modified string: shakti verma

In [83]:
#11. Count the occurrences of a word in a string.

def count_word_occurrences(input_string, target_word):
    word_count = 0
    words = input_string.split()
    for word in words:
        if word == target_word:
            word_count += 1
    return word_count
input_string = input("enter a sentence")
target_word = input("enter word to check occurance")
result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the input string.")

enter a sentence hi this h ih h rawbrkj rbjkb urhabwjkbkjwa urbkbr b b b biu k n n
enter word to check occurance n

The word 'n' appears 2 times in the input string.

In [5]:
#12 find the first occurrence of a word in a string.

def first_occurance(sentence,word):
    index = sentence.find(word)
    if index ==-1:
        return no_word_found
    else:
        return index
first_occurance("hello world. Welcome to my world","world")

6

In [9]:
#13 Find the last occurrence of a word in a string.
def last_occurance(sentence,word):
    index = sentence.rfind(word)
    if index ==-1:
        return no_word_found
    else:
        return index
last_occurance("hi. how are you hero?","h")

16

In [10]:
#14 Split a string into a list of words.

def split_string(s):
    s_list = s.split()
    return s_list

In [11]:
s = " you are beautiful"
words = split_string(s)
print(words)

['you', 'are', 'beautiful']

In [14]:
#15 Join a list of words into a string.
def join_wordstostring(words):
    wrdstr = " ".join(words)
    return wrdstr
words = ['hello','how','are','you?']
text = join_wordstostring(words)
print("string after join is:",text)

string after join is: hello how are you?

In [15]:
#16 Convert a string where words are separated by spaces to one where wordsare separated by underscores.
def convert_underscoretosep(text):
    sep = text.replace(" ","_")
    return sep
text = "hello how are you?"
sep_text= convert_underscoretosep(text)
print("converted text is:", sep_text)

converted text is: hello_how_are_you?

In [24]:
#17 Check if a string starts with a specific word or phrase.

def starts_with(text, prefix):
    start = text.startswith(prefix)
    return start

text = "hello, how are you?!"
prefix = "hello"
result = starts_with(text, prefix)
if result:
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text starts with the prefix.

In [26]:
#18 Check if a string ends with a specific word or phrase.
def ends_wtih(text,suffix):
    end = text.endswith(suffix)
    return end
text=" hello how are you"
suffix ="you"
result=ends_wtih(text,suffix)
if result:
    print("text ends with suffix")
else:
    print("text does not end with suffix")

text ends with suffix

In [29]:
#19 Convert a string to title case 

def stringtotitlecase(text):
    title_string = text.title()
    return title_string

a = stringtotitlecase("hi how are you?")
print("title case string:", a)

title case string: Hi How Are You?

In [32]:
#20 Find the longest word in a string.

def find_longest_word(text):
    words = text.split()
    longest_word = ""
    max_length = 0
    
    for word in words:
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word
    return longest_word
a = find_longest_word("hello you are beautiful")
print("longest word:",a)

longest word: beautiful

In [8]:
#21 Find the shortest word in a string.

def find_shortest_word(text):
    words = text.split()
    shortest_word = None
    min_length = float('inf')
    
    for word in words:
        if len(word)<min_length:
            min_length = len(word)
            shortest_word= word
        return shortest_word

In [9]:
text = "hello my name is shakti"
shortest_word = find_shortest_word(text)
print("shortest word is:", shortest_word)

shortest word is: hello

In [11]:
#22 Reverse the order of words in a string.

string = input("enter a string to reverse")
words = string.split() # splitting the string on space
words = list(reversed(words)) # reversing the words using reversed() function
print(" ".join(words)) #joining the words and printing

enter a string to reverse shakti is a boy

boy a is shakti

In [15]:
#23 Check if a string is alphanumeric.

def alphanumeric(text):
    return text.isalnum()  #using this method to check is string is alphanumeric

text = "hello how are you ?"
result = alphanumeric(text)
if result:
    print("string is alphanumeric")
else:
    print("string is not alphanumeric")

string is not alphanumeric

In [17]:
# 24 extract all digits from string

def fetch_digits(text): 
    digits = ""
    for char in text:
        if char.isdigit(): #using isdigit() method to check each character by iterating through for loop
            digits += char  #append digit to string digit
    return digits

In [21]:
text = "121hskahkawnbdwd15454dwdawd"
extracted_digits = fetch_digits(text)
print("Fetched digits from the string:", extracted_digits)

Fetched digits from the string: 12115454

In [25]:
#25 Extract all alphabets from a string.

def extract_alpha(inp_string):
    alphabets = ' '.join([char for char in inp_string if char.isalpha()])
    return alphabets


inp_string = "Hello123World456"
result = extract_alpha(inp_string)
print(result)

H e l l o W o r l d

In [30]:
#26 Count the number of uppercase letters in a string.

string= input("Enter string:")
count1=0
count2=0
for i in string:
      if(i.islower()):
            count1=count1+1
      elif(i.isupper()):
            count2=count2+1
print("The number of uppercase characters is:")
print(count2)

Enter string: shaktiK

The number of uppercase characters is:
1

In [29]:
#27 Count the number of lowercase letters in a string.

string= input("Enter string:")
count1=0
count2=0
for i in string:
      if(i.islower()):
            count1=count1+1
      elif(i.isupper()):
            count2=count2+1
print("The number of lowercase characters is:")
print(count1)

Enter string: shbaghsbHBHBHBHBdkjjk

The number of lowercase characters is:
13

In [32]:
#28 Swap the case of each character in a string.

def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string

# Example input string
input_string = " shaktirajbhar"
result = swap_case(input_string)
print(result)

 SHAKTIRAJBHAR

In [34]:
# 29. Remove a specific word from a string.

def remove_word(input_string, word_to_remove):
    words = input_string.split() 
    filtered_words = [word for word in words if word != word_to_remove]  
    modified_string = ' '.join(filtered_words)  
    return modified_string

input_string = "we are learning python from pw skills"
word_to_remove = "python"
result = remove_word(input_string, word_to_remove)
print(result)

we are learning from pw skills

In [41]:
# 30 Check if a string is a valid email address.
import re
def valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False


email1 = "example@email.com"
email2 = "invalid-email"
result1 = valid_email(email1)
result2 = valid_email(email2)
print(result1)
print(result2)

True
False

In [45]:
# 31. Extract the username from an email address string.
def extract_username(email):
    username = email.split('@')[0] 
    return username


email = "shakti.rajbhar@gmail.com"
result = extract_username(email)
print(result)

shakti.rajbhar

In [44]:
#32. Extract the domain name from an email address string.

def extract_domain(email):
    domain = email.split('@')[1]  # Split the email address at "@" and take the second part
    return domain

# Example email address
email = "shakti.rajbhar@gmail.com"
result = extract_domain(email)
print(result)

gmail.com

In [47]:
#33 Replace multiple spaces in a string with a single space.

def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  
    return cleaned_string
input_string = "We    are   learning DSA"
result = replace_multiple_spaces(input_string)
print(result)

We are learning DSA

In [49]:
#34. Check if a string is a valid URL.

from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  
    except ValueError:
        return False
    

url1 = "https://www.shakti.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [52]:
#35 Extract the protocol (http or https) from a URL string.

def extract_protocol(url):

    protocol_end = url.find("://")

    if protocol_end != -1:
    
        protocol = url[:protocol_end]
        return protocol
    else:
        return None


url1 = "https://www.example.com" # Example URL strings
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"


protocol1 = extract_protocol(url1) # Extract protocols
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

print("Protocol 1:", protocol1) # Print extracted protocols
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [53]:
#36 Find the frequency of each character in a string

def character_frequency(input_string):
    frequency = {}  

    for char in input_string:
        if char in frequency:
            frequency[char] += 1 
        else:
            frequency[char] = 1   

    return frequency

input_str = "hello world"

char_freq = character_frequency(input_str)

for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

In [55]:
#37 

import string
def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string


input_str = "hello, shakti how's you?"

cleaned_str = remove_punctuation(input_str)

print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: hello, shakti how's you?
Cleaned string: hello shakti hows you

In [57]:
#38 Check if a string contains only digits.

def contains_only_digits(input_string):
    return input_string.isdigit()

string1 = "12345"
string2 = "Hello123"
string3 = "456.789"

result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

In [58]:
#39  Check if a string contains only alphabets.

def contains_only_alphabets(input_string):
    return input_string.isalpha()

string1 = "Hello"
string2 = "Hello123"
string3 = "12345"
result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)
print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

In [60]:
#40 Convert a string to a list of characters.

def string_to_list(input_string):
    char_list = list(input_string)
    return char_list

input_str = "Hello, world!"

char_list = string_to_list(input_str)

print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [62]:
#41 Check if two strings are anagrams.

def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [76]:
#42  Encode a string using a Caesar cipher.


def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

 
  encoded_text = ""

  
  for char in text:
    
    if char.isalpha():
       encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      
      encoded_char = char

    
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

text = "Hello, world!"
shift = 3

encoded_text = caesar_cipher(text, shift)

print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [77]:
# 43 . Decode a Caesar cipher encoded string.

# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [80]:
#44 Find the most frequent word in a string.

import re
from collections import Counter

def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

   
    words = clean_string.split()

   
    word_counter = Counter(words)

   
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word

input_str = "Hello world, hello there! How's the world?"

most_common = most_frequent_word(input_str)
print("Most frequent word:", most_common)

Most frequent word: hello

In [82]:
#45 Find all unique words in a string.

import re

def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    words = set(clean_string.split())

    return words


input_str = "Hello world, hello there! How's the world?"

unique_word_set = unique_words(input_str)

print("Unique words:", unique_word_set)

Unique words: {'hello', 'hows', 'world', 'the', 'there'}

In [83]:
#46 46. Count the number of syllables in a string.
import re

def count_syllables(word):

    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)


word1 = "hello"
word2 = "banana"
word3 = "syllable"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [84]:
#47. Check if a string contains any special characters.
import re

def contains_special_characters(input_string):
    
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    
    match = pattern.search(input_string)

    
    return bool(match)


string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"


result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)


print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [87]:
#48 48. Remove the nth word from a string.

def remove_nth_word(input_string, n):
    
    words = input_string.split()

    
    if n >= 1 and n <= len(words):
       
        removed_word = words.pop(n - 1)

        
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

input_str = "This is an example sentence to test the function."
n_value = 4

modified_str, removed_word = remove_nth_word(input_str, n_value)

print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [89]:
#49 Insert a word at the nth position in a string.


test_string = 'shaktirajbhar'
 

add_string = "amarnath"
 

print("The original string : " + test_string)
 
print("The add string : " + add_string)

N = int(input("enter a number"))
 
res = test_string[ : N] + add_string + test_string[N : ]
     
print("The string after performing addition : " + str(res))

The original string : shaktirajbhar
The add string : amarnath

enter a number 6

The string after performing addition : shaktiamarnathrajbhar

In [1]:
#50 Convert a CSV string to a list of lists.

def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')

    result = []

    for line in lines:

        fields = line.split(',')

   
        result.append(fields)

    return result


csv_data = "Name, Age, Country\nshakti, 25, IND\nRahul, 33, Canada\nbablu, 22, UK"


list_of_lists = csv_string_to_list(csv_data)


for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['shakti', ' 25', ' IND']
['Rahul', ' 33', ' Canada']
['bablu', ' 22', ' UK']

In [2]:
#lsit based 
#1.  Create a list with integers from 1 to 10.

l1 = [i for i in range(1, 11)] #list comprehension
l2= [1,2,3,4,5,6,7,8,9,10]
# Print the list
print(l1)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
#2  Find the length of a list without using the len() function.

l = [1,2,3,4,5]
count = 0
for i in l: 
    count+=1
print(count)

5

In [16]:
#3 Append an element to the end of a list.
l = [10, 20, 30]
element = 40
l.append(element)
print("Updated list elements:", l)

Updated list elements: [10, 20, 30, 40]

In [23]:
#4 Insert an element at a specific index in a list.

l = [1,2,3,4,6,7,8,9]
insert_element = 5

insert_index = 4

l.insert(insert_index,insert_element)

print("updated list is:", l)

updated list is: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
#5 Remove an element from a list by its value.
l = [1,2,3,4,6,7,8,9]
remove_element = 4
l.remove(remove_element)
print("updated list is:", l)

updated list is: [1, 2, 3, 6, 7, 8, 9]

In [2]:
#6 Remove an element from a list by its index.

list = [1, 2, 3, 4, 5]
index_to_remove = 2
removed_element = list.pop(index_to_remove)
print("Updated list:", list)
print("Removed element:", removed_element)

Updated list: [1, 2, 4, 5]
Removed element: 3

In [3]:
#7 Check if an element exists in a list.
l = [1,2,3,4,5,6,7,8,9,10]
check_element = 10
if check_element in l:
    print(f"{check_element} exists in the list.")
else:
    print(f"{check_element} does not exist in the list.")

10 exists in the list.

In [4]:
#8 Find the index of the first occurrence of an element in a lis

l = [1,2,3,4,5,6,7,8,9,10]
element_to_find = 8
index = l.index(element_to_find)
print(f"The index of {element_to_find} is {index}")

The index of 8 is 7

In [5]:
#9 Count the occurrences of an element in a list

l = [1,2,3,4,5,6,7,8,9,10,2,4,7,1,5,7,2]
element_occ_count = 7
count = l.count(element_occ_count)
print(f"The element {element_occ_count} occurs {count} times in the list.")

The element 7 occurs 3 times in the list.

In [8]:
#10  Reverse the order of elements in a list

l = [10, 20, 30, 40, 50,60,70,80,90,100]
l.reverse()
print("Reversed list:", l)

Reversed list: [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [9]:
#11 Sort a list in ascending order

l = [10,9,8,7,6,5,4,3,2,1]
l.sort()
print("list in ascending order:", l)

list in ascending order: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
#12 Sort a list in descending order
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l.sort(reverse=True)
print("list in descending order:", l)

list in descending order: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [12]:
#13 Create a list of even numbers from 1 to 20

even_list = [i for i in range(2, 21, 2)]
print("List of even numbers:", even_list)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
#14  Create a list of odd numbers from 1 to 20
odd_list = [i for i in range(1, 21, 2)]
print("List of odd numbers:", odd_list)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [14]:
#15 Find the sum of all elements in a list

l = [1,2,3,4,5,6,7,8,9,10]
sum_l = sum(l)
print("Sum of elements in list:", sum_l)

Sum of elements in list: 55

In [16]:
#16  Find the maximum value in a list

l = [1,2,3,4,5,6,7,8,9,10]
max_element = max(l)
print("Maximum value:", max_element)

Maximum value: 10

In [17]:
#17 Find the minimum value in a list
l = [1,2,3,4,5,6,7,8,9,10]
min_element = min(l)
print("Minimum value:", min_element)

Minimum value: 1

In [18]:
#18 Create a list of squares of numbers from 1 to 10
square_list = [i ** 2 for i in range(1, 11)]
print("List of squares:", square_list)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
#19  Create a list of random numbers

import random
random_integers = [random.randint(1, 100) for _ in range(10)]
print("List of random integers:", random_integers)

List of random integers: [1, 62, 39, 98, 99, 83, 89, 63, 13, 95]

In [25]:
#20 Remove duplicates from a list.
l = [10, 20, 30, 20, 40, 10, 50, 30]
l2 = set(l)
print("List without duplicates:", l2)

List without duplicates: {40, 10, 50, 20, 30}

In [42]:
#21 Find the common elements between two lists
l1 = [3,2,4]
l2 = [2,3,5]
set(l1) & set(l2)

{2, 3}

In [37]:
#22 Find the difference between two lists.
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

difference = list(set(list1).difference(list2))

print("Difference between lists:", difference)

{2, 3, 4}

TypeError: 'list' object is not callable

In [45]:
#22 Find the difference between two lists.
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, ]

difference = (set(list1).difference(list2))

print("Difference between lists:", difference)

Difference between lists: {20, 10}

In [46]:
#23 Merge two lists.

l1 = [10, 20, 30,40 ,50]
l2 = [ 60,70,80,90,100]
merged_list = l1 + l2
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [49]:
#24 Multiply all elements in a list by 2.

l = [10, 20, 30, 40, 50]
multiplied_list = [x * 2 for x in l]
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

In [50]:
#25 Filter out all even numbers from a list.
l = [1, 2, 3, 4, 5]
 
l2 = []
 
for num in l:
    if num % 2 == 0:
        l2.append(num)
print(l2)

[2, 4]

In [51]:
#26 Convert a list of strings to a list of integers
str_list = ["10", "20", "30", "40", "50"]
integer_list = [int(x) for x in str_list]
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

In [52]:
#27 Convert a list of integers to a list of strings.
integer_list = [10, 20, 30, 40, 50]
str_list = [str(x) for x in integer_list]
print("List of strings:", str_list)

List of strings: ['10', '20', '30', '40', '50']

In [54]:
#28  Flatten a nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened
flattened_list = flatten_list(nested_list)
print("Flattened list:", flattened_list)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

In [57]:
#29 Create a list of the first 10 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list
fibonacci_numbers = generate_fibonacci(2)
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

In [59]:
#30 Check if a list is sorted.

def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True
ascending_list = [10, 20, 30, 40, 50]

if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [60]:
#31 Rotate a list to the left by n positions.

def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]


n = 2
rotated_list = rotate_left(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [61]:
#32 Rotate a list to the right by n positions.

def rotate_right(lst, n):
    n = n % len(lst)  
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]

n = 2
rotated_list = rotate_right(my_list, n)

print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [62]:
#33 Create a list of prime numbers up to 50.

def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True


prime_numbers = [num for num in range(2,30) if is_prime(num)]


print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [63]:
#34. Split a list into chunks of size n

def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

prime_numbers = sieve_of_eratosthenes(50)
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [64]:
#35  Find the second largest number in a list.

my_list = [10, 5, 20, 15, 30, 25]

sorted_list = sorted(set(my_list))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [65]:
#36 . Replace every element in a list with its square.

my_list = [2, 4, 6, 8, 10]
squared_list = [x ** 2 for x in my_list]
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

In [66]:
#37 Convert a list to a dictionary where list elements become keys and their indices become values.

my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
my_dict = {element: index for index, element in enumerate(my_list)}
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [67]:
#38 Shuffle the elements of a list randomly

import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(my_list)
print("Shuffled list:", my_list)

Shuffled list: [2, 3, 6, 4, 7, 8, 10, 1, 5, 9]

In [68]:
#39 Create a list of the first 10 factorial numbers

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [69]:
#40 Check if two lists have at least one element in common.

def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [70]:
#41  Remove all elements from a list

my_list = [1, 2, 3, 4, 5]
my_list.clear()
print("Empty list:", my_list)

Empty list: []

In [72]:
#42  Replace negative numbers in a list with 0

my_list = [10, -5, 20, -15, 30, -25]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [73]:
#43 Convert a string into a list of words.

my_string = "Hello, this is a sample sentence."
word_list = my_string.split()
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [75]:
#44 Convert a list of words into a string

word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]
my_string = " ".join(word_list)
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

In [76]:
#45 . Create a list of the first n powers of 2
n = 5
power_list = [2 ** i for i in range(n)]
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [77]:
#46 Find the longest string in a list of strings

string_list = ["apple", "banana", "cherry", "date", "elderberry"]
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

print("Longest string:", longest_string)

Longest string: elderberry

In [78]:
#47 Find the shortest string in a list of strings

string_list = ["apple", "banana", "cherry", "date", "elderberry"]
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("Shortest string:", shortest_string)

Shortest string: date

In [79]:
#48 Create a list of the first n triangular numbers

def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [80]:
#49 Check if a list contains another list as a subsequence

def is_subsequence(subsequence, main_list):
    subseq_index = 0  
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [81]:
#50  Swap two elements in a list by their indices.

my_list = [1, 2, 3, 4, 5]

index1 = 1
index2 = 3

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

In [6]:
#tuple 1. Create a tuple with integers from 1 to 5
t1 = tuple(range(1,6,1))
print("The tuple is:", t1)

The tuple is: (1, 2, 3, 4, 5)

In [7]:
type(t1)

tuple

In [9]:
#2  Access the third element of a tuple
t1 = (1,2,3,4,5)
access_element = t1[2]
print("The third element is:", access_element)

The third element is: 3

In [11]:
#3  Find the length of a tuple without using the len() function
t1 = (1,2,3,4,5)
count = 0
for i in t1:
    count += 1
print("length of the tuple is:", count)

length of the tuple is: 5

In [15]:
#4 Count the occurrences of an element in a tuple

t1 = (1,2,1,2,3,4,1,2,3)
print(t1)
element_to_count = int(input("enter a element from above tuple"))
count = 0
for item in t1:
    if item == element_to_count:
        count += 1
print(f"The element {element_to_count} appears {count} times in the tuple.")

(1, 2, 1, 2, 3, 4, 1, 2, 3)

enter a element from above tuple 2

The element 2 appears 3 times in the tuple.

In [1]:
#5 Find the index of the first occurrence of an element in a tuple.
t1 = (10, 20, 30, 20, 40, 50)
element_to_find = 20
index = -1  
for i, item in enumerate(t1):
    if item == element_to_find:
        index = i
        break
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

In [2]:
#6 Check if an element exists in a tuple
t1=(1,2,3,4,5,6,7,8)
element_to_check = 7
if element_to_check in t1:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

7 exists in the tuple.

In [3]:
#7 Convert a tuple to a list.

t1=(1,2,3,4,5,6,7,8)
t_list = list(t1)
print("Tuple:", t1)
print("List:",t_list)

Tuple: (1, 2, 3, 4, 5, 6, 7, 8)
List: [1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
#8 Convert a list to a tuple.

l1=[1,2,3,4,5,6,7,8]
l_tuple = tuple(l1)
print("List:",l1)
print("Tuple:", l_tuple)

List: [1, 2, 3, 4, 5, 6, 7, 8]
Tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [6]:
#9 Unpack the elements of a tuple into variables.
t1 = (11, 22, 33)
var1, var2, var3 = t1
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 11
var2: 22
var3: 33

In [7]:
#10 Create a tuple of even numbers from 1 to 10.
l = [num for num in range(2, 11, 2)]  #list comp creating list
even_tuple = tuple(l) #converting list to tuple
print("Tuple of even numbers:", even_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [8]:
#11 Create a tuple of odd numbers from 1 to 10.
l = [num for num in range(1, 10, 2)]  #creating list by lsit comp
even_tuple = tuple(l) #converting list to tuple
print("Tuple of even numbers:", even_tuple)

Tuple of even numbers: (1, 3, 5, 7, 9)

In [10]:
#12  Concatenate two tuples.
t1 = (1, 2, 3,4,5)
t2 = (6,7,8,9,10)
con_t = t1 + t2
print(t1)
print(t2)
print("concatenated tuple:",con_t)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)
concatenated tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [11]:
#13 Repeat a tuple three times.
t1 = (1, 2, 3)
rep_tuple= t1 * 3
print("Repeated tuple:", rep_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
#14 Check if a tuple is empty
t1 = ()
t2 = (1, 2, 3)
if not t1:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not t2:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [14]:
#15 Create a nested tuple.
nested_t= ((1, 2, 3), ('shakti', 'rajbhar', 'rahul'), (True, False))
print("Nested tuple:", nested_t)

Nested tuple: ((1, 2, 3), ('shakti', 'rajbhar', 'rahul'), (True, False))

In [16]:
#16 Access the first element of a nested tuple
nested_t= ((1, 2, 3), ('shakti', 'rajbhar', 'rahul'), (True, False))
first_element = nested_t[0]
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

In [17]:
#17  Create a tuple with a single element
single_element_tuple = (42,)  
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

In [19]:
#18 Compare two tuples
t1 = (1, 2, 3)
t2 = (1, 2, 4)
print("t1 == t2:", t1 == t2)  
print("t1 != t2:", t1 != t2)  
print("t1 < t2:", t1 < t2)    
print("t1 <= t2:", t1 <= t2)  
print("t1 > t2:", t1 > t2)    
print("t1 >= t2:", t1 >= t2)

t1 == t2: False
t1 != t2: True
t1 < t2: True
t1 <= t2: True
t1 > t2: False
t1 >= t2: False

In [21]:
#19 Delete a tuple
t1= (1, 2, 3, 4, 5)
del t1
print(t1)

NameError: name 't1' is not defined

In [22]:
#20 Slice a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[2:6]  # Elements from index 2 to 5 (end index is exclusive)
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

In [23]:
#21 Find the maximum value in a tuple
my_tuple = (1,2,3,4,5)
max_value = max(my_tuple)
print("Maximum value:", max_value)

Maximum value: 5

In [25]:
#22 Find the minimum value in a tuple
my_tuple = (10,2,3,4,20,30,50,100)
min_value = min(my_tuple)
print("Minimum value:", min_value)

Minimum value: 2

In [27]:
#23 Convert a string to a tuple of characters
my_string = "shakti rajbhar"
tuple_of_characters = tuple(my_string)
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('s', 'h', 'a', 'k', 't', 'i', ' ', 'r', 'a', 'j', 'b', 'h', 'a', 'r')

In [28]:
#24 Convert a tuple of characters to a string
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
string_from_tuple = ''.join(tuple_of_characters)
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

In [29]:
#25 Create a tuple from multiple data types
t1 = (1,5,3, "shakti", 2.5, True,False)
print(t1)

(1, 5, 3, 'shakti', 2.5, True, False)

In [30]:
#26 Check if two tuples are identical
t1 = (1, 2, 3)
t2 = (1, 2, 3)
t3 = (4, 5, 6)
are_identical1 = t1 == t2
are_identical2 = t1 == t3
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [31]:
#27  Sort the elements of a tuple
my_tuple = (5, 2, 8, 1, 3)
sorted_tuple = tuple(sorted(my_tuple))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

In [32]:
#28 Convert a tuple of integers to a tuple of strings
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

In [33]:
#29 Convert a tuple of strings to a tuple of integers
tuple_of_strings = ('10', '20', '30', '40', '50')
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

In [34]:
#30 Merge two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [35]:
#31 Flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [38]:
#32 Create a tuple of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [39]:
#33 Check if a tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [40]:
#34 Create a tuple of squares of numbers from 1 to 5
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [41]:
#35 Filter out all even numbers from a tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [42]:
#36 Multiply all elements in a tuple by 2
original_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(num * 2 for num in original_tuple)
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [43]:
#37 Create a tuple of random numbers
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100
print("Random tuple:", random_tuple)

Random tuple: (65, 14, 40, 26, 30, 35, 52, 67, 49, 41)

In [44]:
#38 Check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [46]:
#39 Rotate a tuple to the left by n position
def rotate_tuple_left(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[n:] + tup[:n]  
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [47]:
#40 Rotate a tuple to the right by n position
def rotate_tuple_right(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[-n:] + tup[:-n]  
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [48]:
#41 Create a tuple of the first 5 Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n: 
        next_number = fibonacci[-1] + fibonacci[-2] 
        fibonacci.append(next_number)  
    return tuple(fibonacci) 
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [49]:
#42 Create a tuple from user input.

input_str = input("Enter elements separated by commas: ")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter elements separated by commas:  s, d, ,d

User input tuple: ('s', ' d', ' ', 'd ')

In [50]:
#43  Swap two elements in a tuple.
my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [51]:
#44 Reverse the elements of a tuple
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [52]:
#45 Create a tuple of the first n powers of 2.
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [53]:
#46 Find the longest string in a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
longest_string = max(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: watermelon

In [54]:
#47 Find the shortest string in a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
shortest_string = min(string_tuple, key=len)
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [55]:
#48 Create a tuple of the first n triangular numbers
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [56]:
#49  Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [58]:
#50  Create a tuple of alternating 1s and 0s of length n
# Define the value of n
n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [3]:
#set based 
#1  Create a set with integers from 1 to 5
# Step 1: Create an empty set
s1 = {1,2,3,4,5}
type(s1)
print(s1)

{1, 2, 3, 4, 5}

In [6]:
#2 Add an element to a set
s1 = {10, 20, 30, 40, 50}
print("Original set:", s1)
element_to_add = 60
s1.add(element_to_add)
print("Set after adding element:", s1)

Original set: {50, 20, 40, 10, 30}
Set after adding element: {50, 20, 40, 10, 60, 30}

In [7]:
#3 Remove an element from a set
s1 = {10, 20, 30, 40, 50}
print("Original set:", s1)
element_to_remove = 50
s1.remove(element_to_remove)
print("Set after removing", element_to_remove, ":", s1)

Original set: {50, 20, 40, 10, 30}
Set after removing 50 : {20, 40, 10, 30}

In [8]:
#4 Check if an element exists in a set
s1 = {1,2,3,4,5,6,7,8,9,10}
element_to_check = int(input("Enter the element to check: "))
if element_to_check in s1:
    print(f"{element_to_check} exists in the set.")
else:
    # Step 5: If the element does not exist in the set, print a message
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  7

7 exists in the set.

In [11]:
#5 Find the length of a set without using the len() function
s1 = {1, 2, 3, 4, 5,6,7,8,9,10}
count = 0
for _ in s1 :
    count += 1
print("Length of the set:", count)

Length of the set: 10

In [12]:
#6 Clear all elements from a set
my_set = {1,2,3,4,5,6,7,8,9,10}
print("Original set:", s1)
s1.clear()
print("Set after clearing:", s1)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set after clearing: set()

In [13]:
#7 Create a set of even numbers from 1 to 10
even_set = set()
for num in range(1, 11):
    if num % 2 == 0:
             even_set.add(num)
print(even_set)

{2, 4, 6, 8, 10}

In [14]:
#8 Create a set of odd numbers from 1 to 10
odd_numbers_set = set()
for num in range(1, 11):
    if num % 2 != 0:
        odd_numbers_set.add(num)
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [15]:
#9 Find the union of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_result = set1.union(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
#10 Find the intersection of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
intersection_result = set1.intersection(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

In [17]:
#11 Find the difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
difference_set = set1.difference(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

In [18]:
#12 Check if a set is a subset of another set
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

In [19]:
#13 Check if a set is a superset of another set
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [20]:
#14 Create a set from a list
l1 = [2, 4, 1, 4, 3, 2, 5]
s1 = set(l1)
print("Original List:", l1)
print("Set from List:",s1)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

In [21]:
#15 Convert a set to a list.
s1 = {3, 1, 4, 1, 5, 9, 2, 6, 5}
l1 = list(s1)
print("Original Set:", s1)
print("Converted List:", l1)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

In [22]:
#16  Remove a random element from a set
import random  # Import the random module
s1 = {1,2,3,4,5,6,7,8,9,10}
print("Original set:", s1)
random_element = random.choice(list(s1))
s1.remove(random_element)
print("Updated set after removing", random_element, ":", s1)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Updated set after removing 7 : {1, 2, 3, 4, 5, 6, 8, 9, 10}

In [23]:
#17 Pop an element from a set
s1 = {1, 2, 3, 4, 5}
print("Original set:", s1)
popped_element = s1.pop()
print("Popped element:", popped_element)
print("Set after popping:", s1)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [24]:
#18  Check if two sets have no elements in common
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
common_elements = set1.intersection(set2)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [25]:
#19 Find the symmetric difference between two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [26]:
#20 Update a set with elements from another set
set1 = {1, 2, 3}
print("Set 1:", set1)
set2 = {3, 4, 5}
print("Set 2:", set2)
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [27]:
#21 Create a set of the first 5 prime numbers
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [28]:
#22 Check if two sets are identical
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [29]:
#23 Create a frozen set
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [30]:
#24 Check if a set is disjoint with another set
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_status = set1.isdisjoint(set2)
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [31]:
#25  Create a set of squares of numbers from 1 to 5
squares_set = set()
for num in range(1, 6):
    square = num ** 2
    squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

In [32]:
# 26  Filter out all even numbers from a set
original_set = {1, 2, 3, 4, 5}
even_numbers_set = set()
for num in original_set:
    if num % 2 == 0:
        even_numbers_set.add(num)
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [33]:
#27 Multiply all elements in a set by 2
original_set = {1, 2, 3, 4, 5}
multiplied_set = set()
for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [34]:
#28 Create a set of random numbers
import random
num_random_numbers = 5
random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    random_number_set.add(random_num)

print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {99, 77, 18, 87, 55}

In [35]:
#29 Check if a set is empty
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [36]:
#30 Create a nested set (hint: use frozenset)
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [37]:
#31 Remove an element from a set using the discard method
my_set = {1, 2, 3, 4, 5}
print("Initial set:", my_set)
element_to_remove = 3
my_set.discard(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [38]:
#32 Compare two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [39]:
#33 Create a set from a string
input_string = "hello"
char_set = set(input_string)
print(char_set)

{'l', 'e', 'h', 'o'}

In [40]:
#34 . Convert a set of strings to a set of integers
string_set = {"123", "456", "789"}
integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'123', '456', '789'}
Converted Integer Set: {456, 123, 789}

In [41]:
#35 Convert a set of integers to a set of strings
integers_set = {1, 2, 3, 4, 5}
strings_set = set()
for num in integers_set:
    num_str = str(num)
    strings_set.add(num_str)
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'1', '2', '3', '4', '5'}

In [42]:
#36 Create a set from a tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

In [43]:
#37  Convert a set to a tuple.
input_set = {1, 2, 3, 4, 5}
output_tuple = tuple(input_set)
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [44]:
#38 Find the maximum value in a set 
my_set = {15, 7, 22, 13, 8}
max_value = None
for num in my_set:
    if max_value is None or num > max_value:
        max_value = num  
print("Maximum value:", max_value)

Maximum value: 22

In [45]:
#39 Find the minimum value in a set
number_set = {15, 8, 23, 4, 42, 11}
min_value = None
for num in number_set:
    if min_value is None or num < min_value:
        min_value = num

print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [46]:
#40  Create a set from user input
user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")

    if user_input.lower() == 'done':
        break
    user_set.add(user_input)
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  done

Final set: set()

In [47]:
#41 Check if the intersection of two sets is empty
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [48]:
#42 Create a set of the first 5 Fibonacci numbers
fibonacci_set = set()
a, b = 0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [49]:
#43 Remove duplicates from a list using sets
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [50]:
#44 Check if two sets have the same elements, regardless of their count
def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}
result = have_same_elements(set1, set2)
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [51]:
#45 Create a set of the first n powers of 2
def generate_powers_of_2(n):
    powers_of_2 = set()
    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2
n = 5
powers_set = generate_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

In [52]:
#46  Find the common elements between a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
list_to_set = set(my_list)
common_elements = []
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)

print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [53]:
#47 Create a set of the first n triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers = set()
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2 
        triangular_numbers.add(triangular_number)  
    return triangular_numbers
n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  4

The set of the first 4 triangular numbers is: {1, 10, 3, 6}

In [54]:
#48 Check if a set contains another set as a subset
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [55]:
#49 Create a set of alternating 1s and 0s of length n
def create_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)  
        else:
            alternating_set.add(0)  

    return alternating_set
length_n = 10
result = create_alternating_set(length_n)
print(result)

{0, 1}

In [56]:
#50 Merge multiple sets into one
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}